<!--  first load design files  -->
{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Portfolio</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{% static 'css/base.css' %}">  
   <link rel="stylesheet" href="{% static 'css/main.css' %}">
   <link rel="stylesheet" href="{% static 'css/vendor.css' %}">     

   <!-- script
   ================================================== -->   
	<script src="{% static 'js/modernizr.js' %}"></script>
	<script src="{% static 'js/pace.min.js' %}"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="{% static 'favicon.png' %}">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header>   	
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>

	   		<div class="logo">
		         <a href="index.html">Portfolio</a>
		      </div>		      

		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
						<li><a class="smoothscroll"  href="#about" title="">About</a></li>
						<li><a class="smoothscroll"  href="#resume" title="">Resume</a></li>
						<li><a class="smoothscroll"  href="#portfolio" title="">Portfolio</a></li>
						<li><a class="smoothscroll"  href="#services" title="">Services</a></li>					
						<li><a class="smoothscroll"  href="#contact" title="">Contact</a></li>	
						<li><a href="styles.html" title="">Style Demo</a></li>				
					</ul>
				</nav>    		
   		</div> <!-- /top-bar --> 
   		
   	</div> <!-- /row --> 		
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">   

   	<div class="intro-overlay"></div>	

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>Hello, World.</h5>
	   			<h1>I'm Mohit Dwivedi.</h1>

	   			<p class="intro-position">
	   				<span>Aspiring Data Scientist</span>
	   				<span>AI and ML</span> 
	   			</p>

	   			<a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

	   		</div>  
   			
   		</div>   		 		
   	</div> <!-- /intro-content --> 

   	<ul class="intro-social">        
         <li><a href="#"><i class="fa fa-facebook"></i></a></li>
         <li><a href="#"><i class="fa fa-behance"></i></a></li>
         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
         <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
         <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      </ul> <!-- /intro-social -->      	

   </section> <!-- /intro -->


   <!-- about section
   ================================================== -->
   <section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>About</h5>
   			<h1>Let me introduce myself.</h1>

   			<div class="intro-info">

   				<img src="{% static 'images/profile-pic.jpg' %}" alt="Profile Picture">

   				<p class="lead">I am a passionate BTech student with expertise in Python, Matplotlib, Pandas, NumPy, and Django. My technical acumen extends to a foundational understanding of machine learning. As a devoted enthusiast of technology, I am eager to explore and contribute to the ever-evolving landscape of programming and data science.</p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h3>Profile</h3>

   			<ul class="info-list">
   				<li>
   					<strong>Fullname:</strong>
   					<span>Mohit Dwivedi</span>
   				</li>
   				<li>
   					<strong>Birth Date:</strong>
   					<span>January, 2003</span>
   				</li>
   				<li>
   					<strong>Job:</strong>
   					<span>Freelancer</span>
   				</li>
   				<li>
   					<strong>Github:</strong>
   					<span>https://github.com/DarkImpact1</span>
   				</li>
   				<li>
   					<strong>Email:</strong>
   					<span>dwivedimohit2001@gmail.com</span>
   				</li>

   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">

   			<h3>Skills</h3>
   			<p>I've learned</p>

				<ul class="skill-bars">
				   <li>
				   	<div class="progress percent90"><span>90%</span></div>
				   	<strong>Python</strong>
				   </li>
				   <li>
				   	<div class="progress percent85"><span>85%</span></div>
				   	<strong>Pandas</strong>
				   </li>
				   <li>
				   	<div class="progress percent70"><span>30%</span></div>
				   	<strong>Django... learning</strong>
				   </li>
				   <li>
				   	<div class="progress percent95"><span>90%</span></div>
				   	<strong>Matplotlib</strong>
				   </li>
				   <li>
					<div class="progress percent95"><span>90%</span></div>
					<strong>HTML</strong>
					</li>
					<li>
						<div class="progress percent95"><span>90%</span></div>
						<strong>C++</strong>
					</li>
				   <li>
				   	<div class="progress percent75"><span>75%</span></div>
				   	<strong>Wordpress</strong>
				   </li>
      
				</ul> <!-- /skill-bars -->		

   		</div>

   	</div>

   	<div class="row button-section">
   		<div class="col-twelve">
   			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
   			<a href="#" title="Download CV" class="button button-primary">Download CV</a>
   		</div>   		
   	</div>

   </section> <!-- /process-->    


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Resume</h5>
   			<h1>More of my credentials.</h1>

   			<p class="lead">I've did some work and gain experience in few fields</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Work Experience</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Freelancing</h3>
	   					<p> </p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Email Automation</h4>
	   					<p>
							I provided freelance assistance by developing a bespoke email automation solution for a client. The customized code enables efficient, one-click dispatch of multiple emails to diverse recipients, each with distinct subject lines and content. This tailored automation streamlines communication processes, enhancing productivity and facilitating targeted outreach with precision.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Developed a mini game</h3>
	   					<p>November 2022</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>College Project</h4>
	   					<p>
							I crafted a Python-based mini-game, integrating a graphical user interface, for an engaging rendition of Rock, Paper, Scissors. This project showcases my proficiency in software development and UI design. The game offers an interactive and visually appealing experience, exemplifying my commitment to creating both functional and aesthetically pleasing applications.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Content Writer</h3>
	   					<p>July 2021 - December 2021</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Chegg India Pvt. Ltd.</h4>
	   					<p>I have six months of professional experience as a content writer at Chegg India Pvt. Ltd., where I honed my skills in creating high-quality content. During this time, I also acquired expertise in Search Engine Optimization (SEO), enhancing my ability to craft content that aligns with best practices for online visibility and reach.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
   	
   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Education</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Under Graduation </h3>
	   					<p>Aug 2022 - Present</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>University of Life</h4>
	   					<p>
							A dedicated student at Lovely Professional University, I actively engage in co-curricular activities and contribute to the university's vibrant community. As a proud member of the National Cadet Corps (NCC), I exemplify discipline and leadership. My commitment to academic excellence, combined with diverse participation, underscores my holistic approach to personal and professional development..</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Senior Secondary School</h3>
	   					<p>July 2017 - June 2019</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Einstein Public School </h4>
	   					<p>As a former student at Einstein Public School, I achieved academic excellence by securing an impressive 82% in senior secondary education. This accomplishment reflects my commitment to scholastic pursuits. Beyond academics, my time at the institution nurtured a foundation for holistic growth, emphasizing both intellectual and personal development.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Metriculation</h3>
	   					<p>May 2015 - June 2017</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Einstein Public School</h4>
	   					<p>A student of Einstein Public School, I distinguished myself by attaining an outstanding 95% in my matriculation. This academic success underscores my diligence and commitment to excellence. Beyond academics, I actively engaged in extracurricular activities, showcasing a well-rounded profile that reflects both scholastic prowess and a holistic approach to personal development.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
		
	</section> <!-- /features -->


	<!-- Portfolio Section
   ================================================== -->
	<section id="portfolio">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Portfolio</h5>
   			<h1>Check Out Some of My Works.</h1>

   			<p class="lead">I've done some projects which I post on my github account check it out</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row portfolio-content">

   		<div class="col-twelve">

   			<!-- portfolio-wrapper -->
	         <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

	         	<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static 'images/portfolio/extractpass.jpg' %}" alt="Liberty">
	                  <a href="#modal-01" class="overlay">	                  	           
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
		     					       <h3 class="folio-title">Password Extractor</h3>	     					    
		     					    	 <span class="folio-types">
		     					       	  Saved Wi-Fi Password Extractor (Windows)
		     					       </span>
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>	               
	        		</div> <!-- /folio-item -->

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static 'images/portfolio/notepadclone.png' %}" alt="Shutterbug">
	               	<a href="#modal-02" class="overlay">              		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Notepad Clone ( Python )</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  clone of Notepad using Tkinter (currently working on it)
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static 'images/portfolio/django.png' %}"alt="Clouds">
	                  <a href="#modal-03" class="overlay">             		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Django</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Build Portfolio for me.
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static 'images/portfolio/youtubeplaydown.jpg' %}" alt="Beetle">
	                  <a href="#modal-04" class="overlay">                  	                 
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Youtube Playlist Downloader</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Download whole playlist with one click.
		     					      </span>		     		
		     					   </div>  	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->     

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static 'images/portfolio/virtualassistant.png' %}" alt="Lighthouse">
	                  <a href="#modal-05" class="overlay">             		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title" >Virtual Assistant</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  just relax and let your assistant do your task.
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static 'images/portfolio/emailauto.png' %}" alt="Salad">
	                  <a href="#modal-06" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Email Manager</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Automate your email with one click.
		     					      </span>		     		
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->   

	            <!-- modal popups - begin
	            ============================================================= -->
	            <div id="modal-01" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{% static 'images/portfolio/modals/m-extractpass.jpg' %}" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Password Extractor</h4>		      
					      <p>Developed a Python script capable of extracting saved passwords from Windows credentials and securely sending them to a designated email address. This utility enhances user convenience by centralizing password retrieval while prioritizing data privacy and security through controlled email transmission..</p>

					      <div class="categories">Python</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/DarkImpact1/Saved_Wifi_ssid_pwd_Extractor" target="_blank">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-01 -->

				   <div id="modal-02" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{% static 'images/portfolio/modals/m-notepadclone.png' %}" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Notepad Clone ( In progress..) </h4>		      
					      <p>Developing a Python-based Notepad clone, I focus on replicating essential features like text editing, file handling, and user-friendly interface. Leveraging tkinter for GUI, the project emphasizes simplicity and efficiency, providing users with a lightweight yet functional text editor akin to the traditional Notepad.</p>

					      <div class="categories">Python Tkinter</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/DarkImpact1/Notepad-Clone-Using-Python" target="_blank">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-02 -->

				   <div id="modal-03" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{% static 'images/portfolio/modals/m-django.png' %}" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Django</h4>		      
					      <p> Crafting a dynamic portfolio using Django in Python, my project showcases web development skills. Utilizing Django's MVC architecture, I design an interactive and responsive portfolio website. Features include project showcases, a contact form, and an admin interface for easy content management and updates.</p>

					      <div class="categories">Web Dev Backend</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/DarkImpact1/Django" target="_blank">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-03 -->

				   <div id="modal-04" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{% static 'images/portfolio/modals/m-youtubeplaydown.jpg' %}" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Youtube Playlist Downloader</h4>		      
					      <p>With Python, I'm creating a YouTube playlist downloader offering customization options. Users can select video quality, destination folder, and specify the number of videos to download. Utilizing the YouTube API and libraries like pytube, the project aims to streamline the process of building a personalized offline playlist.</p>

					      <div class="categories">Python </div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/DarkImpact1/YoutubePlaylistDownloader" target="_blank">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-04 -->

				   <div id="modal-05" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{% static 'images/portfolio/modals/m-virtualassistant.png' %}" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Virtual Assistant</h4>		      
					      <p>Why to waste our energy when you have you assistance by your side 24 x 7.My Python-based virtual assistant integrates natural language processing and automation to execute tasks. Leveraging libraries like speech recognition and pyttsx3, the assistant responds to voice commands, handling functions like setting reminders, answering queries, and controlling system features. Aiming for enhanced user productivity, it's a versatile tool for daily tasks.</p>

					      <div class="categories">Python Programming</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/DarkImpact1/Virtual-Assistant" target="_blank">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-05 -->

				   <div id="modal-06" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{% static 'images/portfolio/modals/m-emailauto.png' %}" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Email Manager</h4>		      
					      <p> Automating email tasks using Python, my project simplifies communication. Leveraging libraries like smtplib and imaplib, it allows users to schedule, organize, and automate emails. With features like email categorization, auto-responses, and scheduled sending, the email manager enhances efficiency and communication management in a business or personal setting.</p>

					      <div class="categories">Python Programming</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/DarkImpact1/email_manager" target="_blank">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-06 -->


				   <!-- modal popups - end
	            ============================================================= -->

	         </div> <!-- /portfolio-wrapper --> 

   		</div>  <!-- /twelve -->   

   	</div> <!-- /portfolio-content --> 
		
	</section> <!-- /portfolio --> 


	
	<!-- services Section
   ================================================== -->
	<section id="services">

		<div class="overlay"></div>

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Services</h5>
   			<h1>What Can I Do For You?</h1>

   			<p class="lead">With a versatile skill set, I bring your ideas to life. From crafting elegant Python code, scraping dynamic websites, and automating tasks, to producing compelling content and transforming raw data into insightful visualizations – I am your one-stop solution for seamless innovation and efficiency in the digital realm.</p>

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row services-content">

   		<div id="owl-slider" class="owl-carousel services-list">

	      	<div class="service">	

	      		<span class="icon"><i class="icon-earth"></i></span>            

	            <div class="service-content">	

	            	 <h3>Programming</h3>

		            <p class="desc">Unlocking efficiency through code, I specialize in creating tailored solutions to simplify and streamline your tasks. Whether automating repetitive processes, optimizing workflows, or developing custom applications, my programming expertise ensures a seamless, time-saving experience tailored to your specific needs.
	         		</p>
	         		
	         	</div> 	         	 

				</div> <!-- /service -->

				<div class="service">	

					<span class="icon"><i class="icon-window"></i></span>                          

	            <div class="service-content">	

	            	<h3>Backend of web-dev</h3>  

		            <p class="desc">Unlocking efficiency through code, I specialize in creating tailored solutions to simplify and streamline your tasks. Whether automating repetitive processes, optimizing workflows, or developing custom applications, my programming expertise ensures a seamless, time-saving experience tailored to your specific needs.
	         		</p>

	            </div>	                          

			   </div> <!-- /service -->

			   <div class="service">

			   	<span class="icon"><i class="icon-paint-brush"></i></span>		            

	            <div class="service-content">

	            	<h3>Play with Data</h3>

		            <p class="desc">Elevate your data landscape with my expertise. From dynamic visualizations that breathe life into your insights to in-depth data analysis unlocking valuable patterns, I am your partner in harnessing the full potential of your data. Let's turn information into actionable intelligence together.
	        			</p> 

	            </div> 	            	               

			   </div> <!-- /service -->

				<div class="service">

					<span class="icon"><i class="icon-toggles"></i></span>	              

	            <div class="service-content">

	            	<h3>Bulding Model</h3>

		            <p class="desc">Transforming concepts into intelligent solutions, I specialize in building models that decode complex data patterns. Whether crafting machine learning or statistical models, my expertise ensures precision and predictive power. Let's collaborate to turn your ideas into robust, data-driven models that propel your projects to new heights of innovation and success.
	         		</p> 
	         		
	            </div>                


	      </div> <!-- /services-list -->
   		
   	</div> <!-- /services-content -->
		
	</section> <!-- /services -->	


	
   <!-- contact
   ================================================== -->
	<section id="contact">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Contact</h5>
   			<h1>I'd Love To Hear From You.</h1>

   			<p class="lead">Drop a message via email or on whatsapp. Let cook something Delicious!</p>

   		</div> 
   	</div> <!-- /section-intro -->

   	<div class="row contact-form">

   		<div class="col-twelve">

            <!-- form -->
            <form name="contactForm" id="contactForm" method="post" action="">
      			<fieldset>

                  <div class="form-field">
 						   <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
                  </div>
                  <div class="form-field">
	      			   <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
	               </div>
                  <div class="form-field">
	     				   <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
	               </div>                       
                  <div class="form-field">
	                 	<textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
	               </div>                      
                 <div class="form-field">
                     <button class="submitform">Submit</button>
                     <div id="submit-loader">
                        <div class="text-loader">Sending...</div>                             
       				      <div class="s-loader">
								  	<div class="bounce1"></div>
								  	<div class="bounce2"></div>
								  	<div class="bounce3"></div>
								</div>
							</div>
                  </div>

      			</fieldset>
      		</form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning">            	
            </div>            
            <!-- contact-success -->
      		<div id="message-success">
               <i class="fa fa-check"></i>Your message was sent, thank you!<br>
      		</div>

         </div> <!-- /col-twelve -->
   		
   	</div> <!-- /contact-form -->

   	<div class="row contact-info">

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-pin"></i>
   			</div>

   			<h5>Where to find me</h5>

   			<p>
            1600 abcd efgh ijkl<br>
            India<br>
            1234
            </p>

   		</div>

   		<div class="col-four tab-full collapse">

   			<div class="icon">
   				<i class="icon-mail"></i>
   			</div>

   			<h5>Email Me At</h5>

   			<p>mohit.dev.new@gmail.com<br>
			   	ananonymousking1@gmail.com			     
			   </p>

   		</div>

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-phone"></i>
   			</div>

   			<h5>Call Me At</h5>

   			<p>Phone: (+91) 9876543210<br>
			   	Whatsapp: (+91) 9125020101<br>
			    
			   </p>

   		</div>
   		
   	</div> <!-- /contact-info -->
		
	</section> <!-- /contact -->


   <!-- footer
   ================================================== -->

   <footer>
     	<div class="row">

     		<div class="col-six tab-full pull-right social">

     			<ul class="footer-social">        
			      <li><a href="https://www.facebook.com/profile.php?id=100008695454006" target="_blank"><i class="fa fa-facebook" ></i></a></li>
			      <li><a href="https://twitter.com/dmohit013" target="_blank"><i class="fa fa-twitter"></i></a></li>
			      <li><a href="https://www.instagram.com/ezz_programming/" target="_blank"><i class="fa fa-instagram"></i></a></li>
			   </ul> 
	      		
	      </div>

      	<div class="col-six tab-full">
	      	<div class="copyright">
		        	<span>© Copyright.</span> 
		        	<span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>	         	
		         </div>		                  
	      	</div>

	      	<div id="go-top">
		         <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		      </div>

      	</div> <!-- /row -->     	
   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
   <script src="{% static 'js/plugins.js' %}"></script>
   <script src="{% static 'js/main.js' %}"></script>

</body>

</html>